EEMultiDelegateDemo.xcodeproj/project.xcworkspace/xcuserdata/HYH.xcuserdatad/UserInterfaceState.xcuserstate
EEMultiDelegateDemo.xcodeproj/xcuserdata/HYH.xcuserdatad/xcschemes/EEMultiDelegateDemo.xcscheme
EEMultiDelegateDemo.xcodeproj/xcuserdata/HYH.xcuserdatad/xcschemes/xcschememanagement.plist
EEMultiDelegateDemo.xcodeproj/xcuserdata/ian.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
EEMultiDelegateDemo.xcodeproj/xcuserdata/ian.xcuserdatad/xcschemes/EEMultiDelegateDemo.xcscheme
EEMultiDelegateDemo.xcodeproj/xcuserdata/ian.xcuserdatad/xcschemes/xcschememanagement.plist
Example/Pods

EEMultiProxyDemo.xcodeproj/project.xcworkspace/xcuserdata
Example/EEMultiDelegate.xcworkspace/xcuserdata